{% extends 'base.html' %}

{% block main %}
<div class="jumbotron">
  <div class="container">
    <h1>About MESA</h1>
    <p>Mathematics, Engineering, Science Achievement (MESA) is nationally recognized for its innovative and effective academic development program. MESA engages thousands of educationally disadvantaged students so they excel in math and science and graduate with math-based degrees. MESA partners with all segments of California higher education as well as K-12 institutions.
MESA, now celebrating its 40th anniversary, has a proven track record in producing math-based graduates by providing support such as classes, hands-on competitions, counseling, transfer support and a community environment to students from middle school through four-year college.
Since 1970 MESA has helped students become scientists, engineers and mathematicians, filling an urgent need for qualified technical professionals. Through three branches of MESA, students from all segments of education are served through local centers throughout California. MESA partners with industry and all the major education institutions in California.</p>

  </div>
</div>
{% endblock%}

{% block content %}
{% debug %}

{% endblock%}