{% extends 'base.html' %}

{% block main %}

{% endblock%}

{% block content %}
    
<div class="container">
    <div class="row">
        <div class="well">            
            <h3>Free Punch and Pie at Riverside 5029!</h3>
            <hr>
            <p>Posted Date: April 20, 2014</p>            
            <p>The Free Punch and Pie event is happening on the 24th! Make sure to attend.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="well">
            <h3>Register for Next Year!</h3>
            <hr>
            <p>Posted Date: April 24, 2014</p>            
            <p>Don't forget to register for classes next year unless you are graduating of course.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="well">
            <h3>Graduate Surveys!</h3>
            <hr>
            <p>Posted Date: April 24, 2014</p>            
            <p>Surveys are being taken by soon to be graduates. Don't miss out on your opportunity to give the program feedback!</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="well">
            <h3>Messy Lounge!</h3>
            <hr>
            <p>Posted Date: April 24, 2014</p>            
            <p>The lounge is a privilege and will be taken away if not taken care of. The room is being kept too messy! Please make sure to pick up after yourself and throw away your trash!</p>
        </div>
    </div>
</div>

{% endblock%}