{% extends 'base.html' %}

{% block main %}

{% endblock%}

{% block content %}
    
<div class="container">
    <div class="row">
        <div class="well">            
            <h3>Free Punch and Pie at Riverside 5029!</h3>
            <hr>
            <p>Date: April 24, 2014</p>            
            <p>This event is for the purpose of planning the worlds greatest LAN party.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="well">
            <h3>Free Punch and Pie at Riverside 5029!</h3>
            <hr>
            <p>Date: April 24, 2014</p>            
            <p>This event is for the purpose of planning the worlds greatest LAN party.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="well">
            <h3>Free Punch and Pie at Riverside 5029!</h3>
            <hr>
            <p>Date: April 24, 2014</p>            
            <p>This event is for the purpose of planning the worlds greatest LAN party.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="well">
            <h3>Free Punch and Pie at Riverside 5029!</h3>
            <hr>
            <p>Date: April 24, 2014</p>            
            <p>This event is for the purpose of planning the worlds greatest LAN party.</p>
        </div>
    </div>
</div>

{% endblock%}