{% extends 'base.html' %}

{% block main %}
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="/media/trees.jpg" alt="Paintball">
          <div class="container">
            <div class="carousel-caption">
              <h1>Paintball Event</h1>
              <p>MESA will be hosting a full-campus, hardcore-rules, martial law painball event.</br>The winner will receive a Roxio MP3 player.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">View Rules</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/media/sunset.jpg" alt="Staring">
          <div class="container">
            <div class="carousel-caption">
              <h1>Physics Professors Host Staring Contest</h1>
              <p>The student which stares at the sun the longest wins.</br> Prize is $5 and a PBR.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/media/bridge.jpg" alt="Suicide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Are we in the Matrix?</h1>
              <p>Record number of students attempt to find out by leaping from bridge.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->
{% endblock %}

{% block content %}
<div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Events</h2>
          <p>This is an awesome event!</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
    </div>
{% endblock%}