{% extends 'base.html' %}

{% block main %}

{% endblock%}

{% block content %}
    
<div class="container">
    <div class="row">
        <div class="well">            
            <h3>The CERT Scholars Fund</h3>
            <hr>
            <p>Deadline: September 15, 2014</p>
            <p>Majors: CE,ME </p>          
            <p>This scholarship is for American Indians who are majoring in business, engineering, science, math, computer technology, or a related field. To qualify for this scholarship, applicants must have been selected and/or successfully participated in one of the following CERT education programs: TRIBES Program, CERT Intern Program, or CERT Scholars Program. Applicants must be full-time college undergraduate or graduate students and maintain a 2.5 GPA.</p>
            <a href="http://www.cappex.com/scholarship/listings/CERT-Scholars-Fund/-s-d-1356/" target="_blank">Apply Here</a>
        </div>
    </div>
</div>
 
<div class="container">
    <div class="row">
        <div class="well">
            <h3>Microsof Corp. Scholarship</h3>
            <hr>
            <p>Deadline: Feb 1, 2014</p>
            <p>Majors: CPE,CSC,ME</p>            
            <p>Applicant must be a woman with a minimum 3.5 GPA. Applicant must be in an ABET-accredited engineering program, engineering at SWE-approved colleges and universities, or computer science in a CSAB-accredited program or at an ABET-accredited or SWE-approved institution.</p>
            <a href="http://www.cappex.com/scholarship/listings/Microsoft-Corp-Scholarship/-s-d-2250/" target="_blank">Apply Here</a>
        </div>
    </div>
</div>
 
<div class="container">
    <div class="row">
        <div class="well">
            <h3>National Federation of the Blind Computer Science Scholarship</h3>
            <hr>
            <p>Deadline: March 31, 2014</p>  
            <p>Majors: CS</p>        
            <p>Applicant must be legally blind and pursuing a full-time course of study. Selection is based upon academic excellence, service to the community, and financial need.</p>
            <a href="http://www.cappex.com/scholarship/listings/National-Federation-of-the-Blind-Computer-Science-Scholarship/-s-d-1913/" target="_blank">Apply Here</a>
        </div>
    </div>
</div>

{% endblock%}